<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .centered-form {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            height: 90vh;
        }
        .sign-up-container {
            box-shadow: 0px 0px 67px -19px rgba(0,0,0,0.4);
            padding: 30px;
            border-radius: 3%;
            width: 60%;
        }
        *{
            /* border: 2px solid black; */
        }
    </style>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Restaurant</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      {% if 'username' in session %}
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}
      
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% if 'username' in session %}
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      {% endif %}
    </ul>
    <form class="d-flex">
      <input class="form-control mr-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>











{% include 'includes/alert.html' %}

<div class="container-fluid centered-form">
      <div class="sign-up-container">
        <h2 style="text-align: center;">Sign Up</h2>
        <form class="register-form" method="post" action="/signup">
                <div class="form-group d-flex d-row m-3 flex-wrap">
                    <div class="m-2" style="width: 40%;">
                        <label  for="name">First Name:</label>
                        <input type="text"  class="form-control" id="name" placeholder="Enter your first name" required name="first_name">
                      </div>
                      <div class="m-2" style=" width: 55%;">
                        <label for="name">Last Name:</label>
                        <input type="name" class="form-control" id="name" placeholder="Enter your last name" required name="last_name">
                      </div>
                      
                      
                    </div>
                    <div class="form-group d-flex d-row m-3 flex-wrap">
                      <label for="email">Email:</label>
                      <input type="email" class="form-control" id="email" placeholder="Enter your email" required name="email">
                    </div>
                <div class="form-group d-flex d-row m-3 flex-wrap">
                  <div class="m-2" style="width: 40%;">
                        <label class="m-2" for="name">Username:</label>
                        <input type="text" class="form-control" id="name" placeholder="Enter your username" required name="username">
                      </div>
                      <div class="m-2" style=" width: 55%;">
                        <label class="m-2" for="password">Password:</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter your password" required name="password">
                      </div>
                    </div>
                    <div class="text-center">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
              </form>
            </div>
          </div>
      
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>

    </html>